# See http://help.github.com/ignore-files/ for more about ignoring files.

## Node
# Logs
*.log
npm-debug.log*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules


## OS X
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*


## Env
.envrc


## Dist
coverage
build
docs
dist
out-tsc
tmp
