include:
  - project: hpc/gitlab-pipelines
    file: spack-build-components.gitlab-ci.yml

variables:
  BRAYNS_COMMIT: ${CI_COMMIT_SHA}
  bb5_account: proj3
  bb5_duration: "2:00:00"
  DATADIR: /tmp
  SALLOC_ACCOUNT: proj3
  SBATCH_ACCOUNT: proj3
  SLURM_ACCOUNT: proj3
  SLURM_CPUS_PER_TASK: 72
  SPACK_PACKAGE: brayns
  SPACK_PACKAGE_NAME: brayns
  SPACK_PACKAGE_COMPILER: gcc
  SPACK_PACKAGE_REF: ""

spack_setup:
  extends: .spack_setup_ccache
  timeout: 2h

brayns-spack-build:
  extends: .spack_build
  stage: test
  timeout: 2h

brayns-spack-test:
  extends: .spack_test
  needs: ["brayns-spack-build"]
  timeout: 2h
  script:
    - export BRAYNS_TMP_DIR=$SHMDIR
    - cd ${SPACK_BUILD_DIR}
    - spack build-env ${SPACK_FULL_SPEC} -- ninja tests

brayns-python-venv:
  extends: .spack_test
  needs: ["brayns-spack-build"]
  timeout: 10 minutes
  script:
    - cd ${SPACK_SOURCE_DIR}/python
    - module load unstable python
    - python -m venv pythonvenv
    - source pythonvenv/bin/activate
    - pip install -r requirements.txt
    - python setup.py sdist
    - pip install dist/*
    - deactivate

brayns-python-test:
  extends: .spack_test
  needs: ["brayns-spack-build", "brayns-python-venv"]
  timeout: 10 minutes
  script:
    - cd ${SPACK_SOURCE_DIR}/python
    - source pythonvenv/bin/activate
    - python -m unittest discover -v --locals -s tests -p test_*.py
    - deactivate

brayns-python-format-check:
  extends: .spack_test
  needs: ["brayns-spack-build", "brayns-python-venv"]
  timeout: 10 minutes
  script:
    - cd ${SPACK_SOURCE_DIR}/python
    - source pythonvenv/bin/activate
    - TARGETS="brayns doc samples scripts testapi tests setup.py"
    - pyright --warnings $TARGETS
    - flake8 $TARGETS
    - black --check $TARGETS
    - deactivate

brayns-python-testapi:
  extends: .spack_test
  needs: ["brayns-spack-build", "brayns-python-venv"]
  timeout: 30 minutes
  script:
    - module load unstable ffmpeg
    - cd ${SPACK_SOURCE_DIR}/python
    - source pythonvenv/bin/activate
    - export BRAYNS_TEST_EXECUTABLE=${SPACK_BUILD_DIR}/bin/braynsService
    - export BRAYNS_TEST_BBP_CIRCUIT=/gpfs/bbp.cscs.ch/project/proj3/TestData/install/share/BBPTestData/circuitBuilding_1000neurons/BlueConfig
    - export BRAYNS_TEST_SONATA_CIRCUIT=/gpfs/bbp.cscs.ch/project/proj3/cloned_circuits/GeneratedTest/simulation_config.json
    - export BRAYNS_TEST_MORPHOLOGY=/gpfs/bbp.cscs.ch/project/proj3/TestData/install/share/BBPTestData/circuitBuilding_1000neurons/morphologies/C150501A-I3.h5
    - export BRAYNS_TEST_DTI_FILE=/gpfs/bbp.cscs.ch/project/proj3/TestData/install/share/BBPTestData/DTI/dtitest.json
    - export BRAYNS_TEST_NRRD_FOLDER=/gpfs/bbp.cscs.ch/project/proj3/TestData/install/share/BBPTestData/nrrd
    - python -m unittest discover -s testapi -p test_*.py
    - deactivate
