./
build/
Brion/
Deflect/
FlatBuffers/
Lexis/
Lunchbox/
MVDTool/
Pydoxine/
RESTBridge/
Rockets/
Servus/
vmmlib/
ZeroBuf/
CMakeFiles
.DS_Store
*~
*#
*.autosave
*.files
*.config
*.includes
*.creator*
*.user
