./
CMake/common/
Deflect/
FlatBuffers/
RESTBridge/
Servus/
ZeroBuf/
build/
ZeroEQ/
Brion/
Lexis/
Lunchbox/
MVDTool/
httpxx/
vmmlib/
Pydoxine/
CMakeFiles
.DS_Store
*~
*#
*.autosave
*.files
*.config
*.includes
*.creator*
*.user

