[submodule "CMake/common"]
	path = CMake/common
	url = https://github.com/Eyescale/CMake
[submodule "uvw"]
	path = uvw
	url = https://github.com/skypjack/uvw.git
[submodule "async++"]
	path = async++
	url = https://github.com/Amanieu/asyncplusplus.git
[submodule "perceptualdiff"]
	path = perceptualdiff
	url = https://github.com/myint/perceptualdiff.git
[submodule "plugins/Rockets/rapidjson"]
	path = plugins/Rockets/rapidjson
	url = https://github.com/Tencent/rapidjson.git
