[submodule "async++"]
	path = deps/async++
	url = https://github.com/Amanieu/asyncplusplus.git
[submodule "perceptualdiff"]
	path = deps/perceptualdiff
	url = https://github.com/myint/perceptualdiff.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "CMake/common"]
	path = CMake/common
	url = https://github.com/BlueBrain/CMake.git
	branch = brayns_recursive_submodules
[submodule "deps/pbrt-v2"]
	path = deps/pbrt-v2
	url = https://github.com/BlueBrain/pbrt-v2
	branch = brayns_integration
[submodule "deps/Brion"]
	path = deps/Brion
	url = https://github.com/BlueBrain/Brion.git
[submodule "deps/pbrt-v3"]
	path = deps/pbrt-v3
	url = https://github.com/BlueBrain/pbrt-v3
[submodule "deps/poco"]
	path = deps/poco
	url = https://github.com/pocoproject/poco.git
