version: "3"
services:
  ui:
    image: brayns-ui
    build: ./js/apps/viewer
    restart: always
    ports:
      - "8000:8080"
    links:
      - api
  api:
    image: brayns
    build: .
    restart: always
    ports:
      - "8200:8200"
