<div class="viewport">
    <span class="viewport-helper"></span><img class="visualisation" ng-src="{{vm.visualisation}}">
</div>

<div class="menu-container">
    <div class="header-bar"></div>
    <div class="menu-bar"></div>
    <div class="menu-buttons">
        <div class="col-md-10">
            <button type="button collapser" class="btn btn-default" ng-click="vm.menu.isCollapsed = !vm.menu.isCollapsed" ng-class="vm.menu.isCollapsed ? 'chevron-down': 'chevron-up'">
                <span class="glyphicon" ng-class="vm.menu.isCollapsed ? 'glyphicon glyphicon-chevron-down': 'glyphicon glyphicon-chevron-up'"></span>
            </button>
            <span ng-show="!vm.menu.isCollapsed">
            <label class="btn btn-default" ng-model="vm.active.panel" uib-btn-radio="'main'" uib-uncheckable>
                <span class="glyphicon glyphicon-menu-hamburger"></span> Presets
            </label>
            <label class="btn btn-default" ng-model="vm.active.panel" uib-btn-radio="'camera'" uib-uncheckable>
                <span class="glyphicon glyphicon glyphicon-camera"></span> Camera
            </label>
            <label class="btn btn-default" ng-model="vm.active.panel" uib-btn-radio="'settings'" uib-uncheckable>
                <span class="glyphicon glyphicon glyphicon-cog"></span> Settings
            </label>
            </span>
        </div>
    </div>
</div>

<!--histogram dataset="vm.histogramData"></histogram-->

<div class="ui-container col-md-12">

    <div class="panel col-sm-4" ng-show="vm.active.panel == 'main' && !vm.menu.isCollapsed">
        <div>
        </div>
            <p class="std-description">The Blue Brain Project at the Ecole Polytechnique Fédérale de Lausanne (EPFL), Switzerland, is using detailed modeling of brain tissue as a means to integrate multi-modal datasets. For example, the project has previously published a detailed reconstruction and simulation of the neocortical microcircuitry of a young rat [1]. The work presented here is introducing ray-tracing to improve previously possible visualisations. For example, ray-tracing can help to highlight areas of the circuits where cells touch each other and where synapses are being created. In combination with ‘global illumination’, which uses light, shadow, and depth of field effects to simulate photo-realistic images, this technique makes it easier to visualise large models and their activity.</p>
        <div>
            <p class="std-description">[1] H. Markram et al., Reconstruction and Simulation of Neocortical Microcircuitry. Cell 163, 2015, 456-492.</p>
        </div>
        <hr/>
        <div class="input-group">
            <div class="btn-group-horizontal">
                <label class="btn btn-default" ng-model="vm.active.preset" uib-btn-radio="'exobj'" uib-uncheckable>Tissue Model</label>
                <label class="btn btn-default" ng-model="vm.active.preset" uib-btn-radio="'proximityrenderer'" uib-uncheckable>Network Connectivity</label>
                <label class="btn btn-default" ng-model="vm.active.preset" uib-btn-radio="'simulationrenderer'" uib-uncheckable>Simulation</label>
            </div>
        </div>

        <div class="row" ng-show="vm.active.preset != 'proximityrenderer'">
            <div class="col-sm-12">
                <br/>
                <div ng-show="vm.active.preset =='simulationrenderer'" >
                    <br/>
                <button type="button" class="btn btn-default" ng-model="vm.sliders.playToggle" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" unchecked>
                    {{vm.active.timeline.label}}
                </button>
                </div>
                <div class="row">
                <slider class="time-slider" data-slider-id="time-slider" ng-model="vm.active.timeline.value" min="vm.active.timeline.min" step="vm.active.timeline.step" max="vm.active.timeline.max" slider-tooltip="hide"></slider>
                </div>
            </div>
        </div>
    </div>

    <div class="panel col-sm-3" ng-show="vm.active.panel == 'camera' && !vm.menu.isCollapsed">
        <div class="btn-group-horizontal">
            <h4 class="category">View</h4>
            <button type="button" class="btn btn-default btn-sm" ng-click="resetCamera()">Reset</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="globalCamera()">Global</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="closeUpCamera()">Close-up</button>
            <button type="button" class="btn btn-primary" ng-model="vm.animation" uib-btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>Auto</button>
        </div>

        <hr/>

        <div class="btn-group-horizontal">
            <h4 class="category">Aperture</h4>
            <slider class="std-slider" ng-model="vm.active.camera_aperture.value" min="vm.active.camera_aperture.min" step="vm.active.camera_aperture.step" max="vm.active.camera_aperture.max" slider-tooltip="hide"></slider>
            <h4 class="category">Focal length</h4>
            <slider class="std-slider" ng-model="vm.active.camera_focal_length.value" min="vm.active.camera_focal_length.min" step="vm.active.camera_focal_length.step" max="vm.active.camera_focal_length.max" slider-tooltip="hide"></slider>
        </div>

    </div>
    
    <div class="panel col-sm-3" ng-show="vm.active.panel == 'settings' && !vm.menu.isCollapsed">
        <div class="btn-group-horizontal">
            <h4 class="category">Materials</h4>
            <label class="btn btn-default" ng-model="vm.active.materialMode" uib-btn-radio="'diffuse'" uib-uncheckable>Diffuse</label>
            <label class="btn btn-default" ng-model="vm.active.materialMode" uib-btn-radio="'electron'" uib-uncheckable>Electron</label>
            <label class="btn btn-default" ng-model="vm.active.materialMode" uib-btn-radio="'noshading'" uib-uncheckable>No shading</label>
        </div>

        <div class="btn-group-horizontal">
            <h4 class="category">Shadows</h4>
            <label class="btn btn-default" ng-model="vm.active.shadowMode" uib-btn-radio="'no-shadow'" uib-uncheckable>None</label>
            <label class="btn btn-default" ng-model="vm.active.shadowMode" uib-btn-radio="'hard-shadow'" uib-uncheckable>Hard</label>
            <label class="btn btn-default" ng-model="vm.active.shadowMode" uib-btn-radio="'soft-shadow'" uib-uncheckable>Soft</label>
        </div>

        <div class="btn-group-horizontal">
            <h4 class="category">Ambient occlusion</h4>
            <slider class="std-slider" ng-model="vm.active.ambientocclusion.value" min="vm.active.ambientocclusion.min" step="vm.active.ambientocclusion.step" max="vm.active.ambientocclusion.max" slider-tooltip="hide"></slider>
        </div>

        <hr/>

        <div class="btn-group-horizontal">
            <h4 class="category">Background color</h4>
            <slider class="std-slider" ng-model="vm.active.bgcolor.value" min="vm.active.bgcolor.min" step="vm.active.bgcolor.step" max="vm.active.bgcolor.max" slider-tooltip="hide"></slider>
        </div>

        <hr/>

        <div class="btn-group-horizontal">
            <h4 class="category">Epsilon</h4>
            <slider class="std-slider" ng-model="vm.active.epsilon.value" min="vm.active.epsilon.min" step="vm.active.epsilon.step" max="vm.active.epsilon.max" slider-tooltip="hide"></slider>
        </div>

        <div class="btn-group-horizontal">
            <h4 class="category">Streaming quality</h4>
            <slider class="std-slider" ng-model="vm.active.jpegquality.value" min="vm.active.jpegquality.min" step="vm.active.jpegquality.step" max="vm.active.jpegquality.max" slider-tooltip="hide"></slider>
        </div>

        <div class="btn-group-horizontal">
            <h4 class="category">Samples per pixel</h4>
            <slider class="std-slider" ng-model="vm.active.spp.value" min="vm.active.spp.min" step="vm.active.spp.step" max="vm.active.spp.max" slider-tooltip="hide"></slider>
        </div>

    </div>

</div>
