/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$text-color: #fff;
$white: #fff;
$std-text-color: #111;
$primary: rgba(76, 155, 190, .7);
$secondary: rgba(231, 114, 84, 1);
$dark-secondary: rgba(187, 92, 64, 1);
$tertiary: #39bdbf;
$optional: #e2c15a;

$panel-color: $primary;

$body-font-size: 12px;
$menu-header-size: 14px;


html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

/*
Visualisation
*/
.viewport {
    background-color: #aaaaaa;
    height: 100%;
    width: 100%;
    position: absolute;
    color: #fff;
    z-index: -100;
    text-align: center; 
    white-space: nowrap;
}

.viewport-helper {
    height: 50%;
    display: inline-block;
}

.visualisation {
    max-width:100% !important;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}


/*
Menu bar
*/
.menu-container {
    z-index: -50;
}

.menu-bar {
    z-index: 1;
    width: 100%;
    height: $menu-header-size;
    background-color: $secondary;
}

.menu-buttons {
    z-index: -10;
    margin: 0px 24px 0 24px;
}

.menu-buttons .btn-default {
    background-color: $primary;
    color: $white;
    border: 1px;
    border-color: $white;
    padding: 6px 8px 6px 8px;
    margin: 0px 4px 0px 0px;
    font-size: $body-font-size;
}

.menu-buttons label:hover {
    background-color: $secondary;
}

.btn:hover {
    background-color: $secondary;
    color: $white;
    box-shadow: none;
    border: 0px;
}

.btn:active {
    background-color: $secondary;
    color: $white;
    box-shadow: none;
    border: 0px;
}

.btn.active {
    background-color: $secondary;
    color: $white;
    box-shadow: none;
    border: 0px;
}

.menu-buttons .active {
    background-color: $secondary;
    box-shadow: none;
}

.btn {
    font-size: 11px;
    padding: 6px 6px 6px 6px;
}

/*
Panels and main tabs
*/
.ui-container {
}

.panel {
    color: $text-color;
    background-color: $panel-color;
    border-radius: 0 !important;
    border: 0px;
    border-style: solid;
    border-color: #aaa;
    padding: 0px 16px 16px 16px;
    margin: 0px 16px 0 16px;
    margin-top: 12px;
}


/*
Controls
*/
.timer {
    width: 100%;
}

.primary {
    border-color: #da7639;
    border-width: 4px;
}

.std-slider {
    margin-top: 1em;
    margin-bottom: 1em;
}

.time-slider {
    margin-top: 0.7em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.slider-selection {
	background: $secondary;
}

.slider-handle {
    background-color: $secondary;
    background-image: linear-gradient(to bottom, $secondary 0%, $dark-secondary 100%);
}

.setting {
    margin-top: 12px;
}

/*
Look 'n feel
*/
.img-margin {
    background-color: $white;
    padding: 12px;
}

p {
    font-size: $body-font-size;
}

li {
    font-size: $body-font-size;
    margin-bottom: 0.5em;
}

hr {
    border-color: $text-color;   
}

.panel-header {
    background-color: $primary;
    margin: 0px;
}

h4 {
    font-size: 11px;
    font-weight: bold;
}

h5 {
    font-size: 11px;
}

.category {
    margin-top: 12px;
}

.vis-description {
    text-align: left;
}

.std-description {
    font-size: 11px;
    margin-top: 1.5em;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.start {
	position: relative;
	background: #c9530b;
    margin-right:16px;
}

.start:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #da7639;
	border-width: 12px;
	margin-left: -12px;
}

.start:hover:after {
	border-top-color: #c9530b;
}