./
Build/
build/
debug/
release/
Brion/
HighFive/
Keyv/
Lunchbox/
MVDTool/
Servus/
vmmlib/
CMakeFiles
.DS_Store
*~
*#
*.autosave
*.files
*.config
*.includes
*.creator*
*.user
*.cflags
*.cxxflags
.vscode
.python-version

